<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HarmansList | Home
        style
            include style.css
    body
    
    // variables
    - var username = username;

 
    h3 Welcome #{username}
    form(method="POST" action="http://localhost:3000/logout")
        input(type="submit" value="Logout") 

    form(method="GET" action="/user/panel/"+username+"/profile/settings")
        input(type="submit" value="Edit Profile")
    br
    a(href="/user/panel/" + username + "/createlisting") Create Listing

    h2 Current Listings
    
    div.row 
        each post in posts
            div.column
                - var img = "/images/" + post.fileImageName
            
           
                h3 #{post.listingTitle}
                h6 By #{post.Author}
                h6 #{post.timeOfPost}
                img(src=img height="200px" alt="Image")
                p #{post.postMessage}
                if username == post.Author
                    form(method="POST" action="/user/post/delete/" + post.fileImageName)
                        input(type="submit" value="Delete Post") 
                if username !== post.Author
                    button(type="button") Contact Seller
                    button(type="button") Report Post
    


                

